
.vs/Profiling/v15/.suo
.vs/Profiling/v15/Server/sqlite3/db.lock
.vs/Profiling/v15/Server/sqlite3/storage.ide
.vs/Profiling/v15/Server/sqlite3/storage.ide-shm
.vs/Profiling/v15/Server/sqlite3/storage.ide-wal
Bin/Profiling.Client.dll
Bin/Profiling.Client.pdb
Bin/Profiling.Common.dll
Bin/Profiling.Common.pdb
Bin/Profiling.Demo.exe
Bin/Profiling.Demo.exe.config
Bin/Profiling.Demo.pdb
Bin/Profiling.WindowsForms.dll
Bin/Profiling.WindowsForms.pdb
Demo/obj/Debug/Profiling.Demo.csproj.CopyComplete
Demo/obj/Debug/Profiling.Demo.csproj.CoreCompileInputs.cache
Demo/obj/Debug/Profiling.Demo.csproj.FileListAbsolute.txt
Demo/obj/Debug/Profiling.Demo.csproj.GenerateResource.cache
Demo/obj/Debug/Profiling.Demo.csprojAssemblyReference.cache
Demo/obj/Debug/Profiling.Demo.exe
Demo/obj/Debug/Profiling.Demo.pdb
Demo/obj/Debug/Profiling.Demo.Properties.Resources.resources
Demo/obj/Debug/Profiling.Demo.StacksForm.resources
Demo/obj/Debug/Profiling.Demo.StacksOnlyForm.resources
Demo/obj/Debug/Profiling.Demo.TestForm.resources
Demo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Demo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Demo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Profiling.Client/obj/Debug/Profiling.Client.csproj.CopyComplete
Profiling.Client/obj/Debug/Profiling.Client.csproj.CoreCompileInputs.cache
Profiling.Client/obj/Debug/Profiling.Client.csproj.FileListAbsolute.txt
Profiling.Client/obj/Debug/Profiling.Client.csprojAssemblyReference.cache
Profiling.Client/obj/Debug/Profiling.Client.dll
Profiling.Client/obj/Debug/Profiling.Client.pdb
Profiling.Client/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Profiling.Client/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Profiling.Client/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProfilingCommon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProfilingCommon/obj/Debug/Profiling.Common.csproj.CoreCompileInputs.cache
ProfilingCommon/obj/Debug/Profiling.Common.csproj.FileListAbsolute.txt
ProfilingCommon/obj/Debug/Profiling.Common.csprojAssemblyReference.cache
ProfilingCommon/obj/Debug/Profiling.Common.dll
ProfilingCommon/obj/Debug/Profiling.Common.pdb
ProfilingCommon/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProfilingCommon/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProfilingCommon/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProfilingCommon/obj/Profiling.Common.csproj.nuget.cache
ProfilingWindowsForms/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.csproj.CopyComplete
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.csproj.CoreCompileInputs.cache
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.csproj.FileListAbsolute.txt
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.csproj.GenerateResource.cache
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.csprojAssemblyReference.cache
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.StackControl.resources
ProfilingWindowsForms/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProfilingWindowsForms/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProfilingWindowsForms/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProfilingWindowsForms/obj/Profiling.WindowsForms.csproj.nuget.cache
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.dll
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.LatencyControl.resources
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.pdb
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.ProfilingManagerControl.resources
ProfilingWindowsForms/obj/Debug/Profiling.WindowsForms.Properties.Resources.resources
ProfilingCommon/project.lock.json
ProfilingWindowsForms/project.lock.json
